.content {
	width: 1000px;
	margin: 0 auto;
}

#logo, #welcomeBanner  {
	background-color:694364;
	/*background-color: #392338;*/
	/*background-color: #d685ff;*/
	height: 212px;
	margin-top: 50px;
	margin-left: 20px;
	text-align:center;
	border-radius: 5px;
	/*color:#ffcfa4;*/
	color: #CCA772;
}

#navigationMenu {
	margin-top: 70px;
	margin-left: 20px;
}

.hideButton{
	display:none;
	opacity: 0;
}

#navigationMenu ul {
	/*background-color:#523957;*/
	background-color: #694364;	
	margin:0px;
	padding:0px;
}

#navigationMenu ul li {
	list-style:none;
	padding: 20px;
	color: #CCA772;
	/*color: #ffcfa4;*/
	font-size: 16pt;
	font-family: 'Arial', sans-serif;
	border-bottom:#fff solid;
	border-width:20px;
	cursor:pointer;
	text-align: center;
}

#navigationMenu ul li:hover {
	color: #CCA772;
	background-color: #C4C4C0;
}

#productList {
	margin-top: 50px;
	margin-left: 20px;
	text-align: center;
	margin-bottom: 20px;
}

#productList .product {
	height: 200px;
	width: 200px;
  	cursor: pointer;
	margin: 5px;
	border-radius: 5px;
}

#productList .product:hover  {
	background-color: #C4C4C0;
}

#productList .product img {
	margin-top: 20px;
	max-height: 70%;
	max-width: 80%;
	border-radius: 3px;
}

#productList .product .product-price {
	text-align: center;
	opacity: 0;
	bottom: 30px;
}

#productList .product:hover .product-price {
	opacity: 0.8;
	background-color: #E3D1E2;
	/*background-color: #eac2ff;*/
	color: #fff;
	padding: 2px;
}
 #productlist .product .cartButtons{
 	opacity: 0;
 }

.bringToFront{
	z-index: 100;
}

#productlist .product:hover .cartButtons{
	position: relative;
	opacity: 1;
	bottom: 80px;
}

#productList .product .cart {
	opacity: 0;
	max-height:100%;
	max-width: 100%;
	text-align: center;
	padding: 2px;
	bottom: 40px;
	left: 20px;
}

#productList .product:hover .cart {
	opacity: 1;
	text-align: center;
	max-height:100%;
	max-width:100%;
	padding: 2px;
}
.cartTotal{
	position: relative;
	bottom: -100px;
	float: right;
}

.icon{
	position: relative;
}

#productList span {
	position: absolute;
	left: 0;
	bottom: -10px;
	padding: 5px;
	font-size: 16pt;
	text-align: center;
	width: 100%;
}

/* Table */
table, th {
	border: 0px solid black;
}

th, td {
	padding: 10px;
}

.addToCartModal, .removeFromCartModal{
	margin-left: 5px;
	margin-right: 5px;
}

#footer p {
	color: #fff;
	padding: 10px;
	font-size: 12pt;
}

#footer {
	background-color: #C4C4C0;
	height: 50px;
	margin-top: 50px;
	margin-left: 20px;
	margin-bottom: 50px;
	border-radius: 5px;
}
